*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  font-size: 19px;
  font-family: sans-serif, Arial;
}
.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 1140px;
  margin: 20px auto 0 auto;
}
.container img{
  width: 200px;
  height: 200px;

}

h1, h2, h3{
  color: #ff4506;
}

h1{
  font-size: 50px;
  margin-bottom: 20px;
}

h2{
  font-size: 30px;
  margin-bottom: 20px;
}

h3{
  font-size: 20px;
  margin-bottom: 10px;
}

.blog-content{
  width: 75%;
  float: left;
  padding-right: 20px;
  position: relative;
}

.main-text{
  text-align: justify;
  margin-bottom: 20px;
}

.main-text ol{
  margin-bottom: 10px;
}

.review-column{
  width: 25%;
  float: left;
  border-left: 4px solid #999 ;
}

.coment-header{
  font-size: 25px;
  font-weight: bold;
  padding-left: 10px;
  color: white;
  background-color: darkgrey;
}
.coment-column{
  margin-top: 20px;
  padding-left: 10px;
}

.reader-header{
  font-size: 17px;
  font-weight: bold;
}
.coment-text{
  margin-top: 5px;
  text-align: justify;
  font-weight: lighter;
  font-size: 15px;
}

.author-box{
  padding-top: 10px;
  border-top: 1px solid #999;
}

.author-box img{
  width: 70px;
  height: 70px;
  float: left;
  border-radius: 60%;
}

.author-text{
  font-size: 20px;
  float: left;
  padding-left: 30px;
  margin-top: 20px;
  font-weight: bold;
}

.date{
  position: absolute;
  top: 8px;
  right: 30px;
  font-size: 20px;
}

ul{
  list-style: circle;
  margin-bottom: 10px;
}

li{
  margin: 5px 0px 0px 30px;
}
